In [31]:
import dask
from distributed import Client
import pandas as pd
import dask.dataframe as dd
import pandas as pd

In [2]:
c = Client()

In [3]:
def inc(x):
    return x + 1

In [12]:
df = pd.DataFrame([[1,2,3],[4,5,6]], columns=['a', 'b', 'c'])
ddf = dd.from_pandas(df, npartitions=2)
ddf.to_parquet('thing.parquet')
del ddf

In [13]:
ddf = dd.read_parquet('thing.parquet')

In [41]:
ddf.astype(dtype={'a': 'float64', 'b': 'int32'})

Dask DataFrame Structure:
                     a      b      c
npartitions=1
0              float64  int32  int64
1                  ...    ...    ...
Dask Name: astype, 2 tasks

In [45]:
ddf.c = dd.to_datetime(ddf.c)

In [46]:
ddf.compute()

   a  b                             c
0  1  2 1970-01-01 00:00:00.000000003
1  4  5 1970-01-01 00:00:00.000000006